* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial Rounded MT Bold', sans-serif;
	font-size: 17px;
	color: #00004d;
}

header, footer {
	background-color: #00004d;
	color: white;
}

h1,h2,h3,h4,h5,h6,label,hr {
	color: #00004d;
}

.al-nav {
	margin-left: auto;
}

.al-landing h1 {
	font-size: 90px;
	margin-bottom: 30px;
}

.al-landing h2 {
	margin-bottom: 40px;
}

.al-box-shadow {
	box-shadow: rgba(0, 0, 0, 0.75) 0 5px 15px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 20px;
}

.al-search-box input {
  height: 43px;
}

.al-room-box {
	background-color: rgba(255, 255, 255, 0.8)
}

.al-room__btn-group {
	float: right;
}

.btn {
	background-color: #00004d;
	color: white;
	border-radius: 5px;
}

input {
	border-radius: 5px;
}

.btn:hover {
	background-color: #0000e6;
}

.al-alert {
	border-radius: 5px;
}

.al-big-image {
	height: 400px;
	border-radius: 5px;
}

/*don`t change class name!*/
.page-link {
	background-color: #00004d;
	color: white;
}

/*don`t change class name!*/
.page-link:hover {
	background-color: #0000e6;
	color:white;
}

/*don`t change class name!*/
.alert-danger {
	background-color: rgba(255, 0, 0, 0.7);
	color: #0000e6;
}

/*don`t change class name!*/
.dropdown-item {
	color:  #00004d
}

.al-not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.4);
}

.al-not-found span {
	color: #00004d;
	font-size: 10rem;
}

.al-not-found button{
	margin-top: 2rem;
}

/*don`t change class name!*/
.material-icons {
	color: #00004d;
}














